
body {

}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    overflow-x: hidden;
}

/** Header **/
.page-header {
    margin: 0px;
    padding: 15px;
    
    text-align: center;
    
    background-color: #D8B700;
    color: black;
    border-bottom-color: black;
}

.main-header {
    font-family: impact;
    font-size: 3.0em;
}

.sub-header {
    font-family: impact;
    font-size: 0.5em;
}

h1 {
    margin: 0px;
}

/** Body **/
.content {
    padding: 10px;    
}

#bg-content {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}

.user-legend {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(238, 238, 238, 0.85);
    border-radius: 3px;
}

.user-circle {
    margin: auto;
    width:30px;
    height:30px;
    border-radius:50%;
    font-size:20px;
    color:#fff;
    line-height:30px;
    text-align:center;
    background:#000
}

.user-text {
    font-size: 10px;
    text-align: center;
}

.release-checkbox {
    text-align: center;
    margin-top: 20px;
}

.watchlist {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(238, 238, 238, 0.85);
    border-radius: 3px;
}

/** Watchlist **/

ul.watchlist-list {
    list-style: none;
}

.watchlist-film {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 0px; /*this is to counter-act the row styling */
    border-bottom: 1px solid #ddd;
}

.watchlist-film-img {
    width: 60px;
    height: auto;
}

.watchlist-film-title {
    font-size: 20px;
    font-style: italic;
    color: black;
}

.watchlist-film-release {
    color: #888;
}

.watchlist-film-norelease {
    color: red;
    font-style: italic;
}

.watchlist-user-row {
    text-align: right;
}

.watchlist-user-circle {
    display: inline-block;
    margin-right: 5px;
}

.glyphicon-fire {        
    color: orangered;
}



/** Users **/
.pete-bg {
    color: white;
    background-color: #b32d00;
}
.pete {
    color: #b32d00;
}

.paul-bg {
    color: white;
    background-color: #0099cc;
}
.paul{
    color: #0099cc;
}

.danforth-bg {
    color: white;
    background-color: #339933;
}
.danforth {
    color: #339933;
}

.fearn-bg {
    color: white;
    background-color: #e6b800;
}
.fearn {
    color: #e6b800;
}

/** Loading indicator **/
.watchlist-loading {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.glyphicon-refresh-animate {
    -animation: repeat-spin .7s infinite linear;
    -webkit-animation: repeat-spin2 .7s infinite linear;
}

@-webkit-keyframes repeat-spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes repeat-spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}